body {
  background-color: var(--tg-theme-bg-color);
}

.ant-form {
  margin: 1rem;
  border-bottom: 1px solid var(--tg-theme-button-color);
}

.form {
  margin: 1rem 0;
}

.btn {
  margin: 1rem;
}

label, .ant-form-item-label {
  color: var(--tg-theme-text-color) !important;
  margin: 0.5rem;
}

.ant-input, .ant-input:hover, .ant-input-outlined, .ant-input-number-input {
  background-color: var(--tg-theme-secondary-bg-color) !important;
  color: var(--tg-theme-text-color) !important;
  border-color: var(--tg-theme-button-color);
}

.ant-btn {
  border-color: var(--tg-theme-button-color);
}

.errors {
  color: #ff4d4f;
  font-family: 'Futura PT';
}

.subitems {
  width: 80%;
}

.ant-btn-color-default {
  color: var(--tg-theme-text-color) !important;
  background-color: var(--tg-theme-button-color) !important;
}

.ant-btn-color-dangerous {
  background: none !important;
  width: 100%;
}

.radiobutton {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color) !important;
  border-color: var(--tg-theme-button-color) !important;
}

.ant-radio-button-wrapper-checked {
  background-color: var(--tg-theme-button-color) !important;
  background: var(--tg-theme-button-color) !important;
  border-color: var(--tg-theme-button-color) !important;
}

.ant-radio-button-wrapper {
  background-color: var(--tg-theme-secondary-bg-color);
  border-color: var(--tg-theme-button-color) !important;
}

.ant-input-number-input, .ant-input-number {
  background-color: var(--tg-theme-secondary-bg-color) !important;
  color: var(--tg-theme-text-color) !important;
  border-color: var(--tg-theme-button-color);
}

.ant-radio-button-wrapper:not(:first-child)::before {
  background: var(--tg-theme-button-color);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  background: var(--tg-theme-button-color);
}

.subitems {
  margin: .5rem;
}

.ant-select-selector, .ant-select-dropdown, .ant-select-item, .ant-select-open, .ant-select-selection-item {
  background-color: var(--tg-theme-secondary-bg-color) !important;
  border-color: var(--tg-theme-button-color) !important;
  color: var(--tg-theme-text-color) !important;
}

.ant-select-arrow {
  color: var(--tg-theme-text-color) !important;
}

.ant-switch-checked, .ant-switch-checked:hover {
  background: var(--tg-theme-button-color) !important;
}