body {
  margin: 0;
  font-family: "Futura PT" !important;
  max-width: 100%;
  overflow-x: hidden;

  color: var(--tg-theme-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--tg-theme-bg-color) !important;
  color: var(--tg-theme-text-color) !important;
}